<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>Servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailServlet</servlet-name>
        <servlet-class>Servlet.DetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>Servlet.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyFavor</servlet-name>
        <servlet-class>Servlet.MyFavorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyPhoto</servlet-name>
        <servlet-class>Servlet.MyPhotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>Servlet.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>Servlet.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Friend</servlet-name>
        <servlet-class>Servlet.FriendServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Code</servlet-name>
        <servlet-class>Servlet.CodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Friend</servlet-name>
        <url-pattern>/Friend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Code</servlet-name>
        <url-pattern>/Code</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailServlet</servlet-name>
        <url-pattern>/DetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyFavor</servlet-name>
        <url-pattern>/MyFavor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyPhoto</servlet-name>
        <url-pattern>/MyPhoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
</web-app>
