.main{
    width: 85%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #d1d8e0;
    border-radius: 5px;
}
.main nav{
    margin-bottom: 8px;
    border-bottom: 1px solid #d1d8e0;
    padding-bottom: 5px;
}
.navbar{
    background-color:rgba(51,51,51,1) ;
    border-radius: 0;
}
.navbar .collapse .nav li a:hover{
    color: white;
}
.input-group{
    width: 60%;
    margin: 5px auto;
}
.fresh{
    margin-bottom: 5px;
}
#friendItem{

}
#messageItem{
    display: none;
}
#searchItem{
    display: none;
}
.isAdmit{
    border-radius: 5px;
    border: 1px solid #d2dae2;
    padding: 10px;
    width: 85%;
    margin: 10px auto;
}
.isAdmit input{
    margin-right: 5px;
}
.isAdmit span{
    font-size: 1.1em;
    margin-right: 5px;
}
#ul3 li{
    position: relative;

}
#ul3 li .add{
    position: absolute;
    right: 5%;
    bottom: 7%;
}
#ul1 li{
    position: relative;
}
#ul1 li .look{
    position: absolute;
    right: 11%;
    bottom: 7%;
}
#ul1 li .delete{
    position: absolute;
    right: 5%;
    bottom: 7%;
}
#ul2 li{
    position: relative;
}
#ul2 li .yes{
    position: absolute;
    right: 10%;
    bottom: 7%;
}
#ul2 li .no{
    position: absolute;
    right: 5%;
    bottom: 7%;
}

